// Define PWM_POLARITY_NORMAL
#include <zephyr/dt-bindings/pwm/pwm.h>
#include <dt-bindings/pinctrl/esp32s3-pinctrl.h>
// #include <zephyr/dt-bindings/gpio.h>
// #include <zephyr/dt-bindings/>

/ {
	aliases {
		my-adc = &adc0;
		my-adc-channel = &adc0_ch0;
		flash-gpio = &driver_gpio_node;
		detect-gpio-board-1 = &detecting_gpio_node_board_1;
		detect-gpio-board-2 = &detecting_gpio_node_board_2;
		uart-tx = &uart1;
	};

	gpio14-output {
		compatible = "gpio-leds";
		driver_gpio_node: driver_gpio {
			gpios = <&gpio0 14 GPIO_ACTIVE_HIGH>;
		};
	};

	gpio7_input {
		compatible = "gpio-leds";
		detecting_gpio_node_board_1: detecting_gpio_node_board_1 {
			gpios = <&gpio0 7 GPIO_ACTIVE_HIGH>;
		};
	};

	gpio6_input {
		compatible = "gpio-leds";
		detecting_gpio_node_board_2: detecting_gpio_board_2 {
			gpios = <&gpio0 6 GPIO_ACTIVE_HIGH>;
		};
	};
};

// ADC1 (adc0) channel 0 is connected to GPIO1
&adc0 {
	status = "okay";
    #address-cells = <1>;
	#size-cells = <0>;
    
	adc0_ch0: channel@0 {
		reg = <0>;
		zephyr,gain = "ADC_GAIN_1_4";
		zephyr,reference = "ADC_REF_INTERNAL";
		zephyr,vref-mv = <3900>;
		zephyr,acquisition-time = <ADC_ACQ_TIME_DEFAULT>;
		zephyr,resolution = <12>;
	};
};


// Modify ledc0 node (defined in esp32s3_common.dtsi) to connect LED PWM
// controller to pinmux group
&ledc0 {
    pinctrl-0 = <&ledctrl_0 &ledctrl_1 &ledctrl_2>;
	pinctrl-names = "default";
    status = "okay";
	#address-cells = <1>;
	#size-cells = <0>;
	
	// Configure channel 0
	channel0@0 {
	    reg = <0x0>;
		timer = <0>;
	};

	// Configure channel 1
	channel1@1 {
	    reg = <0x1>;
		timer = <0>;
	};

	// Configure channel 2
	channel2@2 {
	    reg = <0x2>;
		timer = <0>;
	};
};

&uart1 {
	pinctrl-0 = <&uart1_tx_default &uart1_rx_default>;
	pinctrl-names = "default";
	status = "okay";
	current-speed = <115200>;
	parity = "none";
	stop-bits = "1";
	data-bits = <8>;

};

// Modify pinctrl node (defined in esp32s3_common.dtsi) to assign GPIO13 to
// the LED controller channel 0
&pinctrl {
	ledctrl_0: led-0 {
		group1 {
			pinmux = <LEDC_CH0_GPIO13>;
			output-enable;
		};
	};
	ledctrl_1: led-1 {
		group1 {
			pinmux = <LEDC_CH1_GPIO5>;
			output-enable;
		};
	};
	ledctrl_2: led-2 {
		group1 {
			pinmux = <LEDC_CH2_GPIO6>;
			output-enable;
		};
	};

	uart1_tx_default: uart1-tx-default {
		group1 {
			pinmux = <UART1_TX_GPIO17>;
			bias-disable;
		};
	};

	uart1_rx_default: uart1-rx-default {
		group1 {
			pinmux = <0x2900>;
			bias-pull-up;
		};
	};

};





